@charset "utf-8";
@import "./config/config";
@import "./config/reset";
@import "./config/mixins";
// @import url(//at.alicdn.com/t/font_225216_pumniag0rn2sxlxr.css);
.ml-5 {
  margin-left: rem(5);
}

.mr-5 {
  margin-right: rem(5);
}

.ml-15 {
  margin-left: rem(15);
}

.mr-15 {
  margin-right: rem(15);
}

.ml-30 {
  margin-left: rem(30);
}

.mr-30 {
  margin-right: rem(30);
}

.mt-10 {
  margin-top: rem(20);
}

.mb-10 {
  margin-bottom: rem(20);
}

// box
.fl {
  float: left;
}

.fr {
  float: right;
}
.clearfix:after {
  content:'';
  clear:both;
  display: table;
}

// text
.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

// color
.green {
  color: #00c082;
}

// font
.fw-700 {
  font-weight: 700;
}

#app {
  width:100%;
  height:100%;
}