$imgPath: '../../../assets/images';
main {
  margin: 0;
  background-image: url(#{$imgPath}/box/bg.png);
  background-repeat: repeat-x;
  background-size: 100% 100%;
  padding: 0 40px 40px;
  .msg-content {
    color: #fff; // overflow: hidden;
    height:100%;
    .title {
      font-size: 56px;
      text-align: center;
      line-height: 1;
      padding: 40px 0;
    }
    .msg-gird {
      background-color: rgba($color: #fff, $alpha: .2);
      border-radius:10px;
      padding:20px;
      height:calc(100% - 136px);
      overflow: auto;
    }
    .desc {
      font-size: 28px;
      text-align: left;
      text-indent: 2em;
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 800px) {
  main {
    .api-list {
      li {
        width: 33%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  main {
    .api-list {
      li {
        width: 25%;
      }
    }
  }
}
