$imgPath: '../../assets/images';
html,
body {
  //     width: 100%;
  height: 100%;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
}

#app {
  height: 100%;
}

// body {
//     background: #fff;
// }
.content-404 {
    margin:0 10px;
  height: calc(100% - 94px);
}

.bg-404 {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url(#{$imgPath}/app_experience//market_bg.png);
  background-repeat: no-repeat;
  background-size: 118px auto;
  background-position: center;
}
