@charset "utf-8";

$themeColor : #67cb89;

$themeBlue : #4e596e;

$bgColor : #f0f0f0;
$bgColorWhite : #fff;

$borderColor : #ddd;

$fontSize:1.4rem;

$fontColor : #000;

$fontGray : #8695b1;

$fontFamily : "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, STHeiti, 华文细黑, sans-serif;

// layout
$topHeight : 6rem;
$leftWidth : 16rem;

// leftmenu
$leftMenuBg : #4e596e;
$leftMenuBgHover : #354052;
$leftMenuFontAct : #61bff5;