$imgPath: '../../assets/images';
html,
body {
  width: 100%;
  height: 100%;
}

.invite-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(#{$imgPath}/app_experience/invite_bg.png) no-repeat;
  background-size: 100% 100%;
}

.invite-container {
  width: 358px;
  height: 310px;
  position: absolute;
  left: 50%;
  margin-left: -179px;
  top: 285px;
  background: url(#{$imgPath}/app_experience/invite_text.png) no-repeat;
  background-size: 100% auto;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 15px;
  line-height: 25px;
  h4 {
    color: #2d2e32;
    margin-top: 20px;
    font-size: 15px;
  }
  p {
    color: #676767;
    font-weight: 200;
  }
}
